* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-style: arial; */
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

.navbar {
    align-items: center;
    padding: 10px 40px;

    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(240, 231, 231), rgb(214, 214, 240), rgb(238, 180, 238));
    display: flex;
    flex-direction: column;



}

.logo {
    display: flex;

    align-items: center;
    justify-content: center;
    /* padding: 10px; */



}

.menu>ul {
    display: flex;

    gap: 20px;
    cursor: pointer;
    font-size: larger;
    align-items: center;
    padding: 10px;



}

.menu>ul>li:hover {
    border-bottom: 1px solid;
    color: rgb(134, 126, 236);

}

.login {
    display: flex;

    align-items: center;
    cursor: pointer;
    padding: 10px;
    font-size: larger;
    margin-left: 10px;

}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(240, 231, 231), rgb(214, 214, 240), rgb(238, 180, 238));
}



.text {
    /* margin: 20px; */
    justify-content: left;
    padding: 10px;

}

.headline {
    margin: 30px 20px;
    font-size: x-large;
    font-family: "Rubik Wet Paint", system-ui;
}

.subhead {
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.image {
    display: flex;
    align-items: start;
    /* margin-top: 30px; */
    padding: 20px;
}

.button {
    display: flex;

    gap: 20px;
    margin-top: 20px;
    color: brown;

}

.button-1,
.button-2,
.button-3 {


    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;


    gap: 20px;

    box-shadow: 0px 0px 15px rgba(231, 22, 22, 0.267);
    /* border-style: 1px solid; */
    border-color: 5px rgb(245, 18, 48);

}

.button-1:hover {
    color: white;
    background-color: rgb(206, 79, 211);
}

.button-2:hover {
    color: white;
    background-color: rgb(206, 79, 211);

}

.button-3:hover {
    color: white;
    background-color: rgb(206, 79, 211);

}



.support {
    padding: 20px;
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;



}

.container-1,
.container-2,
.container-3 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    border-radius: 20px;
    background-color: rgb(238, 229, 220);
}


.container-1:hover {

    background-color: rgb(155, 220, 223);
}

.container-2:hover {
    background-color: rgb(155, 220, 223);
}

.container-3:hover {
    background-color: rgb(155, 220, 223);
}

.main-text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;

}

.image-1 {
    /* width: 50px; */
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: right;
    margin-right: 30px;
    /* flex: 1; */
}

.text-1 {
    justify-content: center;
    padding: 10px;
    flex: 1;
}

.text-1>h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-1>p {
    margin-top: 20px;
    font-size: larger;
    text-align: center;
    padding: 20px;
    margin-left: 20px;

}

.main-text-2 {
    margin-top: 10px;



}

.main-text-2>h1 {
    font-size: 25px;
}

.main-text-2 {

    margin: 50px;


}

.image-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    padding: 20px;
}

.image-3>img {

    box-shadow: 0px 0px 20px 0px rgba(137, 137, 238, 0.644);
    border-radius: 20px;


    height: 300px;
    width: 300px;

    object-fit: contain;


}


.text-3 {
    text-align: start;
    padding: 20px 20px;
    /* margin: 20px; */
}

.text-3>p {
    font-size: larger;


    font-size: larger;
    text-align: left;
    /* padding: 20px; */
    margin-left: 20px;
}


.main-text-3 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 20px;

    flex: 1;
    justify-content: space-between;
}


.text-3>h2 {
    text-align: left;
    padding: 20px;
    /* margin: 30px 20px; */

}

.text-3>p {

    font-size: larger;
    text-align: left;
    /* margin: 30px 20px; */
    flex: 1;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(231, 22, 22, 0.267);

    border-color: 5px rgb(245, 18, 48);
    color: brown;
    margin: 20px;
    width: fit-content;
}

.btn:hover {
    color: white;
    background-color: rgb(206, 79, 211);
}

.booking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    /* margin: 20px; */
    background-image: linear-gradient(to left, rgba(243, 196, 235, 0.856));

}

.booking-image {
    /* display: flex; */
    /* margin: 30px; */
}

.booking-content {
    display: flex;

    border-style: solid;
    border-color: chocolate;
    border-radius: 20px;
    gap: 20px;
    margin: 20px;
    padding: 10px;

}

.booking-1 {
    padding: 10px;
    /* margin: 10px; */
    text-align: center;
}

.booking-btn {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    color: brown;
    margin: 20px;
    /* width: fit-content; */
    border-style: none;

    white-space: nowrap;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.267);

    /* border-color: 5px rgb(245, 18, 48); */
}

.booking-btn:hover {
    color: white;
    background-color: rgb(172, 118, 223);


}


.booking-2 {
    gap: 20px;
    margin-top: 10px;
}

.booking-2>h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.booking-2>p {
    font-size: larger;
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(243, 240, 240);
    border-radius: 20px;
    margin-top: 20px;


}

.main-review {
    margin-left: 20px;
    margin-right: 20px;
}

.review-image {
    margin: 20px;
}

.details {
    text-align: center;
    /* gap: 20px; */

}

.details>p {
    font-size: 23px;
}

.review-content {
    font-size: larger;
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
}

.review-1 {
    /* padding: 10px; */
    padding-top: 20px;
    background-color: rgb(229, 132, 229);
    margin-top: 30px;
    border-radius: 20px;
}

.review-2 {
    /* padding: 10px; */
    padding-top: 5px;
    background-color: rgb(248, 168, 235);
    border-radius: 20px;
}

.contact-details {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin-top: 20px;
    background-color: rgb(232, 248, 242);
    text-align: center;
}

.contact {
    padding: 30px 0px;
}

.contact>h1 {
    margin-top: 20px;
}

.contact>p {
    font-size: larger;
    font-style: arial;
    align-items: center;

}

.phn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.contact-1 {
    margin-top: 20px;
    border-style: solid;
    border-color: rgb(241, 195, 162);
    border-radius: 20px;
    gap: 20px;
    margin: 20px;
    padding: 30px;


    position: relative;
    width: 300px;
}

.phone-image {
    position: absolute;
    top: -50px;
    left: 100px;

}

/* .phone-details{
    gap: 10px;
} */

.address-details {

    padding: 20px 50px;
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: start;
    justify-content: start;

}

.address>p {
    font-size: larger;
}

.address-link>p {
    font-size: larger;
}

.acc>p {
    font-size: larger;
}




@media(min-width:900px) {
    .petcare-1 {
        padding: 0 150px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        justify-content: start;
    }


    .main-text {
        flex-direction: row;
    }

    .support {
        flex-direction: row;
    }

    .main-text-1 {
        display: flex;
        flex-direction: row;
    }

    .main-text-2 {
        margin-right: 20px;


    }

    .main-text-3 {
        display: flex;
        flex-direction: row-reverse;


    }

    .booking {
        flex-direction: row;
    }

    .review {
        /* padding: 0 250px; */
        /* margin: 100px; */
        display: flex;
        flex-direction: row;
    }

    /* .details{
        display: flex;
        flex-direction: column; */
    /* } */
    .main-review {
        padding: 0 150px;
        margin-top: 80px;
    }

    .phn {
        display: flex;
        flex-direction: row;
    }

    .address-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 100px 250px;
        margin-top: 30px;
    }

}