* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(240, 231, 231), rgb(214, 214, 240), rgb(238, 180, 238));
    display: flex;
    flex-direction: column;



}

.logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */



}

.menu>ul {
    display: flex;
    list-style: none;
    gap: 20px;
    cursor: pointer;
    font-size: larger;
    align-items: center;
    padding: 10px;



}

.menu>ul>li:hover {
    border-bottom: 1px solid;
    color: rgb(134, 126, 236);

}

.login {
    display: flex;
    list-style: none;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    font-size: larger;
    margin-left: 10px;

}

.main-text {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-image: linear-gradient(to right, rgb(240, 231, 231), rgb(214, 214, 240), rgb(238, 180, 238));
}

.text {
    /* margin: 20px; */
    justify-content: left;
    padding: 10px;

}

.headline {
    margin: 30px 20px;
    font-size: x-large;
}

.subhead {
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.button {
    display: flex;
    padding: 10px;
    gap: 10px;

}

.button-1,
.button-2 {


    cursor: pointer;
    padding: 10px;
    border-radius: 20px;


    gap: 20px;

    box-shadow: 0px 0px 15px 0px rgba(236, 41, 41, 0.267);
    /* border-style: 1px solid; */
    border-color: 2px rgb(245, 18, 48);

}

.image{
   

    display: flex;
    align-items: start;
    /* margin-top: 30px; */ */
    padding: 20px;


}














@media(min-width:900px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        justify-content: start;
    }

    /* .menu>ul{
        justify-content: center;
        align-items: center;
    } */
}